@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container indexHeader">

        <h1 style="color: white"><b>Traffic Report</b></h1>
        <p style="color: white" class="lead">Traffic Report is a web application that allows you to view and analyse traffic data and weather data and get an insight into the trends occuring. </p>

    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <h1> Rainfall</h1>
                <a class="btn btn-primary" href='@Url.Action("Index", "Rainfalls")' role="button">Rainfall</a>
            </div>
            <div class="col-md-4">
                <h1> Traffic Analysis</h1>
                <a class="btn btn-primary" href='@Url.Action("Index", "Traffic")' role="button">Traffic Analysis</a>
            </div>
            <div class="col-md-4">
                <h1> Get LTA Data</h1>
                <a class="btn btn-primary" href='@Url.Action("Index", "LTADataMall")' role="button">Get LTA Data</a>

            </div>

        </div>
    </div>
</div>
