@model IEnumerable<TrafficReport.Models.tblRainfall>

@{
    ViewBag.Title = "Upload";
}

<h2>Uploaded List</h2>
<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Rainfall Value (mm)
        </th>
        <th>
            Location
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rfDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rfValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblLocationName.lnLocationName)
        </td>
    </tr>
}

</table>
