@{
    ViewBag.Title = "Index";
}

<h2>Get LTA DataMall Data</h2>

<a class="btn btn-primary" href='@Url.Action("GetAccidentData", "LTADataMall")' role="button">Get Accident Data</a>
<a class="btn btn-primary" href="#" role="button">Get Speed Data</a>
<a class="btn btn-primary" href='@Url.Action("GetRoadNameData", "LTADataMall")' role="button">Get Road Name</a>