
@{
    ViewBag.Title = "FormResults";
}

<h2>FormResults</h2>


@Html.Encode(ViewData["regions"])
@Html.Encode(ViewData["roadNames"])

@Html.Encode(ViewData["period"])
@Html.Encode(ViewData["reportType"])




